<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta charset='utf-8'>
        <title>Living Skies Opera</title>
        <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='css/main.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="splash">
            <div class="container">
                <div id="home">
                    <h1>living skies opera</h1>
                    <h3>Caronport, Saskatchewan</h3>
                    <p>
                        <a id="story-link" href="#">Our Story</a>
                        <a id="calendar-link" href="#">Calendar & Tickets</a>
                        <a id="about-link" href="#">About Us</a>
                    </p>
                </div>
                <div id="our-story" class="content hidden">
                    <h3>Our Story</h3>
                    <p>Here is our story. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div id="calendar" class="content hidden">
                    <h3>Calendar & Tickets</h3>
                    <p>Check back often to see our upcoming performances, and to find out how to purchase tickets.</p>
                </div>
                <div id="about" class="content hidden">
                    <h3>About the Company</h3>
                    <p>Learn all about the current cast and crew, as well as what productions are happening this season.</p>
                </div>
                <ul class="slideshow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <script src="navigate.js"></script>
    </body>
</html>