/*----- GENERAL SETUP -----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
}

.container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Thasadith',  sans-serif;
    color: #fff;
    z-index: 1;
    font-weight: 400;
}

/*----- SPLASH TEXT -----*/
.splash {
    height: 100vh;
    width: 100%;
    background: #191919;
}

.splash h1, .splash h3, .splash p {
    position: relative;
    text-align: center;
}

.splash p {
    margin-top: 2rem;
    margin-bottom: 5%;
    transition: 0.5s linear;
}

.splash a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 5%;
    transition: 0.1s linear;
    animation: linkAnimation 6s linear;
}
@keyframes linkAnimation {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash a:hover {
    color: #dedede;
    background-color: rgba(255, 255, 255, 0.15);
}

#home {
    transition: 0.5s linear;
}

#home h1 {
    font-size: 7rem;
    margin-top: 35vh;
    animation: titleAnimation 3s ease-in-out;
}
@keyframes titleAnimation {
    0% {
        opacity: 0;
        margin-top: 30vh;
        font-size: 5rem;
    }
    50% {
        opacity: 1;
    }
}

#home h3 {
    font-size: 2rem;
    animation: subtitleAnimation 5s linear;
}
@keyframes subtitleAnimation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nav {
    transition: 1s linear;
}

/*----- CONTENT STYLING -----*/
.content {
    margin: 5vh;
}

.content h3, .content p {
    animation: contentAnimation 1s linear;
}

.content h3 {
    font-size: 2rem;
}

.content p {
    font-size: 1.2rem;
}

@keyframes contentAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*----- TRANSITION CLASSES -----*/
.raise {
    margin-top: -30vh;
}

.hidden {
    display: none;
}

/*----- SPLASH BACKGROUND SLIDESHOW -----*/
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: splashAnimation 50s linear infinite;
}
@keyframes splashAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

.slideshow li:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url(../prairie1.jpg);
}

.slideshow li:nth-child(2) {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url(../prairie2.jpg);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url(../prairie3.jpg);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url(../prairie4.jpg);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url(../prairie5.jpg);
    animation-delay: 40s;
}
